<!DOCTYPE html>
<html lang="en">
<%-include ('partials/cabeza.html');%>

<body>
    <div class="container">
        <form action="" method="post" class="form">
            <div class="form-group">
                <div id="label">
                    <label for="">Num. Boleto</label>
                    <label for="">Destino</label>
                    <label for="">Años cumplidos</label>
                    <label for="">Tipo de viaje</label>
                    <label for="">Precio</label>
                </div>
                <div id="inputs">
                    <input type="number" name="NB" id="NB" class="form-control" required="true" value="<%=NB%>">

                    <input type="text" name="des" id="des" class="form-control" required="true" value="<%=des%>">

                    <input type="number" name="edad" id="edad" class="form-control" required="true" value="<%=edad%>">

                    <select name="tipo" id="tipo" class="form-select" value="<%=tipo%>" required="true">
                    <option value="1">Sencillo</option>
                    <option value="2">Doble</option>
                    </select>

                    <input type="number" name="precio" id="precio" value="<%=precio%>" class="form-control" required="true">
                </div>
                
                
            </div>
            
            <div class="form-group">
                <input type="submit" value="Calcular" class="form-control"> <br>
                <button id="btnLimpiar" onclick="limpiar()">Limpiar</button>
            </div> 
<%
sub=0
desc=0
tot=0
imp=0
if(precio!=0){
    if(tipo=="1"){
        sub=precio;
    }else if(tipo=="2"){
        sub = Number(precio) + Number(precio*0.8);
    }
    imp=sub*0.16;
    
    if(edad>=60){
        desc=sub*0.5;
    }else{
        desc=0;
    }
    tot=Number(sub)+Number(imp)-Number(desc);
}
%>  
            <br>   
            <div class="form-group">
                <div id="label">
                    <label for="">Subtotal</label> 
                    <label for="">Impuesto 16%</label> 
                    <label for="">Descuento</label> 
                    <label for="">Total</label>
                </div>
                <div id="inputs">
                <input type="number" name="sub" id="sub" value="<%=sub%>" class="form-control">
                <input type="number" name="imp" id="imp" value="<%=imp%>" class="form-control">
                <input type="number" name="desc" id="desc" value="<%=desc%>" class="form-control">
                <input type="number" name="tot" id="tot" value="<%=tot%>" class="form-control">
                </div>
            </div>
        </form>
        
    </div>

    
<%-include('partials/pie.html');%> 
 

</body>
</html>